<div class="row">
  <div class="columns large-6 large-centered">
    <%= form_for ([@user,@profile]) do |f| %>
      <% if can? :assign_roles, @profile %>
        <%= render "roles_select" %>
      <% end %>
      <section>
        <%= f.label :email %>
        <%= f.text_field :email %>
      </section>
      <section>
        <%= f.label :address %>
        <%= f.text_field :address %>
      </section>
      <section>
        <%= f.label :phone %>
        <%= f.text_field :phone %>
      </section>
      <section>
        <%= f.label :bio %>
        <%= f.text_area :bio %>
      </section>
      <%= f.submit "Submit", class: "button" %>
    <% end %>
  </div>
</div>