<div class="row">
  <div class="columns large-6 large-centered">
    <%= form_for ([@user,@profile]) do |f| %>
      <section>
        <%= f.label :degree %>
        <%= f.collection_select :degree, Post::DEGREES, :to_i, :humanize %>
      </section>
      <section>
        <%= f.label :address %>
        <%= f.text_field :address %>
      </section>
      <section>
        <%= f.label :phone %>
        <%= f.text_field :phone %>
      </section>
      <section>
        <%= f.label :bio %>
        <%= f.text_area :bio %>
      </section>
      <%= f.submit "Submit", class: "button" %>
    <% end %>
  </div>
</div>