<div class="row stones">
  <div class="columns large-8 large-centered">
    <h4><%= @user.username %>'s Milestones</h4>
    <ul>
      <% @milestones.each do |stone| %>
        <li><%= stone.date.to_s(:long_ordinal) %> in <%= stone.location %> <%= @user.username %> was <%= stone.event %> <%= link_to "Edit", edit_user_milestone_path(@user,stone), :class => "edit" %></li>
      <% end %>
    </ul>
  </div>
</div>