<%= form_for @user do |f| %>
  <section>
    <%= f.label :username %>
    <%= f.text_field :username %>
  </section>
  <section>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </section>
  <section>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </section>
  <section>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </section>
  <%= f.submit "Submit" %>
<% end %>