<div class="profile row">
  <div class="columns large-6 large-centered">
    <a href="#" data-dropdown="drop<%= @user.id %>" class="tiny button dropdown"></a><br>
    <ul id="drop<%= @user.id %>" data-dropdown-content class="f-dropdown">
      <% if can? :update, @user %>
        <li><%= link_to "Change Password", edit_user_path(@user) %></li>
      <% end %>
      <% if can? :update, @user.profile %>
        <li><%= link_to "Update Profile", edit_user_profile_path(@user,@user.profile) %></li>
      <% end %>
    </ul>
    
    <h3><%= @user.username %>&#09;&#09;<%= @user.profile.degree %>&deg;</h3>
    <% if @user.profile.disabled %>
      <h3 class="disabled">Disabled</h3>
    <% end %>
    <% if @user.admin? %>
      <h4>Admin</h4>
    <% end %>
    <% if @user.profile.roles.length > 0 %>
      <p>
        <span>
          <% if @user.profile.roles.length == 1 %>
            Role:
          <% else %>
            Roles:
          <% end %>
        </span>
        <% @user.profile.roles.each do |role| %>
          <%= role %>
        <% end %>
      </p>
    <% end %>
    <hr>
    <p><span>Email:</span><%= @user.profile.email %></p>
    <p><span>Phone:</span><%= @user.profile.phone %></p>
    <p><span>Address:</span><%= @user.profile.address %></p>
    <p><span>Bio:</span><%= @user.profile.bio %></p>
    <% if current_user == @user || can?(:manage, @user) %>
      <% if !@user.profile.disabled %>
        <%= link_to "Disable Account", disable_path(@user), {method: "post",class: "tiny button alert"} %>
      <% else %>
        <%= link_to "Enable Account", enable_path(@user), {method: "post", class: "tiny button success"} %>
      <% end %>
    <% end %>
    <% if can? :make_admin, @user %>
      <% if @user.admin? %>
        <%= link_to "Disable Admin", admin_path(@user), {method: "post", class: "tiny button alert"} %>
      <% else %>
        <%= link_to "Make Admin", admin_path(@user), {method: "post", class: "tiny button success"} %>
      <% end %>
    <% end %>
  </div>
</div>