<div class="profile row">
  <div class="columns large-6 large-centered">
    <% if current_user == @user %>
        <%= link_to "Edit Profile", edit_user_path(@user), class: "tiny button edit" %>
    <% end %>
    <h3><%= @user.username %>&#09;&#09;<%= @user.degree %>&deg;</h3>
    <p><%= @user.email %></p>
    <% if @user.roles.length > 0 %>
      <h6>
        <% if @user.roles.length == 1 %>
          Role:
        <% else %>
          Roles:
        <% end %>
        <% @user.roles.each do |role| %>
          <%= role %>
        <% end %>
      </h6>
    <% end %>
    <hr>
    <p><span>Bio:</span><%= @user.bio %></p>
    <% if current_user == @user || can?(:manage, @user) %>
      <% if !@user.disabled %>
        <%= link_to "Disable Account", disable_path(@user), {method: "post",class: "tiny button alert"} %>
      <% else %>
        <%= link_to "Enable Account", enable_path(@user), {method: "post", class: "tiny button success"} %>
      <% end %>
    <% end %>
  </div>
</div>