<div class="profile row">
  <div class="columns large-6 large-centered">
    <% if can? :update, @user %>
        <%= link_to "Change Login & Password", edit_user_path(@user), class: "tiny button edit" %>
    <% end %>
    <% if can? :update, @user.profile %>
      <%= link_to "Update Profile", edit_user_profile_path(@user,@user.profile), class: "tiny button edit" %>
    <% end %>
    <h3><%= @user.username %>&#09;&#09;<%= @user.profile.degree %>&deg;</h3>
    <% if @user.profile.disabled %>
      <h3 class="disabled">Disabled</h3>
    <% end %>
    <% if @user.profile.roles.length > 0 %>
      <p>
        <span>
          <% if @user.profile.roles.length == 1 %>
            Role:
          <% else %>
            Roles:
          <% end %>
        </span>
        <% @user.profile.roles.each do |role| %>
          <%= role %>
        <% end %>
      </p>
    <% end %>
    <hr>
    <p><span>Email:</span><%= @user.email %></p>
    <p><span>Phone:</span><%= @user.profile.phone %></p>
    <p><span>Address:</span><%= @user.profile.address %></p>
    <p><span>Bio:</span><%= @user.profile.bio %></p>
    <% if current_user == @user || can?(:manage, @user) %>
      <% if !@user.profile.disabled %>
        <%= link_to "Disable Account", disable_path(@user), {method: "post",class: "tiny button alert"} %>
      <% else %>
        <%= link_to "Enable Account", enable_path(@user), {method: "post", class: "tiny button success"} %>
      <% end %>
    <% end %>
  </div>
</div>