<div class="columns large-centered large-8 minute">
  <ul class="button-group">
    <li><%= link_to "All", minutes_path, class: "button" %></li>
    <li><%= link_to "Reviewed", minutes_path(reviewed: 1), class: "button" %></li>
    <li><%= link_to "Not Reviewed", minutes_path(reviewed: 2), class: "button" %></li>
  </ul>
  <% @minutes.each do |minute| %>
    <h4><%= link_to "#{minute.degree}°", minutes_path(degree: "#{minute.degree}") %>&#09;<%= link_to minute.date.to_s(:long_ordinal), minute_path(minute), class: "reviewed-#{minute.reviewed}" %></h4>
    <% if (can? :update, Minute) %>
      <a href="#" data-dropdown="minute<%= minute.id %>" class="tiny button dropdown"></a><br>
      <ul id="minute<%= minute.id %>" data-dropdown-content class="f-dropdown">
        <li><%= link_to "Edit Minutes", edit_minute_path(minute) %></li>
        <li>
        <% if minute.reviewed %>
          <%= link_to "Mark as not reviewed", not_reviewed_path(minute), method: "post" %>
        <% else %>
          <%= link_to "Mark as reviewed", reviewed_path(minute), method: "post" %>
        <% end %>
        </li>
      </ul>
    <% end %>
    <h6><span>Open:</span> <%= minute.open %>&#09;<span>Close:</span> <%= minute.close %></h6>
    <p><%= minute.content %></p>
  <% end %>
</div>