<div class="columns large-centered large-9">
  <%= form_for @post do |f| %>
    <% if @post.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@post.errors.count, "error") %> prohibited this review from being saved.</h2>
        <ul>
          <% @post.errors.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <h4>New Post</h4>
    <%= f.label :degree %>
    <%= f.collection_select :degree, Post.degrees_selection(current_user), :to_i, :humanize %>
    <%= f.text_area :content, rows: 6 %>
    <%= f.label :tags %>
    <%= f.text_field :tag_list %>
    <%= f.submit "Post", :class => "tiny button" %>
  <% end %>
</div>