<div class="feed row">
  <%= render "new" %>
  <div class="columns large-centered large-9">
    <% @posts.each do |post| %>
      <section class="post">
        <h4><%= link_to "#{post.degree}°", feed_path(degree: "#{post.degree}") %></h4>
        <h6><%= link_to "#{post.user.profile.full_name}", user_path(post.user), { name: "#{post.id}" } %></h6>
        <% if current_user == post.user %>
          <a href="#" data-dropdown="drop<%= post.id %>" class="tiny button dropdown"></a><br>
          <ul id="drop<%= post.id %>" data-dropdown-content class="f-dropdown">
            <li><%= link_to "Edit Post", edit_post_path(post) %></li>
            <li><%= link_to "Delete Post", post, { method: "delete" } %></li>
          </ul>
        <% end %>
        <p class="datestamp"><%= post.created_at.to_s(:long_ordinal) %></p>
        <br>
        <p><%= post.content %></p>
        <br>
        <% if post.comments.length > 0 %>
        <h5>Comments:</h5>
          <ul class="comments">
            <% post.comments.each do |c| %>
              <li class="comment">
                <h6><%= link_to "#{c.user.profile.full_name}", user_path(c.user) %></h6>
                <% if current_user == c.user || current_user == post.user %>
                  <a href="#" data-dropdown="drop<%= c.id %>" class="tiny button dropdown"></a><br>
                  <ul id="drop<%= c.id %>" data-dropdown-content class="f-dropdown">
                    <% if current_user == c.user %>
                      <li><%= link_to "Edit Comment", edit_post_comment_path(post_id: c.post_id, id: c.id) %></li>
                    <% end %>
                    <li><%= link_to "Delete Comment", "/posts/#{c.post_id}/comments/#{c.id}", { method: "delete" } %></li>
                  </ul>
                <% end %>
                <p class="datestamp"><%= c.created_at.to_s(:long_ordinal) %></p>
                <p><%= c.content %></p>
              </li>
            <% end %>
          </ul>
        <% end %>
        <%= form_for ([post, post.comments.build]) do |f| %>
          <%= f.text_field :content %>
          <%= f.submit "Comment", class: "tiny button" %>
        <% end %>
      </section>
    <% end %>
  </div>
</div>