<div class="feed row">
  <!-- New Post Form -->
  <%= render "new" %>
  <!-- Tag Cloud -->
  <div class="columns large-3">
    <% tag_cloud(@tags, %w(tag1 tag2 tag3 tag4)) do |tag, css_class| %>
      <% if params[:degree] %>
        <%= link_to tag.name, feed_path(tag: tag.name, degree: params[:degree]), :class => css_class %>
      <% else %>
        <%= link_to tag.name, feed_path(tag: tag.name), :class => css_class %>
      <% end %>
    <% end %>
  </div>
</div>
<!-- Post feed -->
<div class="feed row">
  <div class="columns large-9">
    <% @posts.each do |post| %>
      <section class="post">
        <h4>
          <% if params[:tag] %>
            <%= link_to "#{post.degree}°", feed_path(degree: "#{post.degree}", tag: params[:tag]) %>
          <% else %>
            <%= link_to "#{post.degree}°", feed_path(degree: "#{post.degree}") %>
          <% end %>
        </h4>
        <h6><%= link_to "#{post.user.profile.full_name}", user_path(post.user), { name: "#{post.id}" } %></h6>
        <% if current_user == post.user %>
          <a href="#" data-dropdown="drop<%= post.id %>" class="tiny button dropdown"></a><br>
          <ul id="drop<%= post.id %>" data-dropdown-content class="f-dropdown">
            <li><%= link_to "Edit Post", edit_post_path(post) %></li>
            <li><%= link_to "Delete Post", post, { method: "delete" } %></li>
          </ul>
        <% end %>
        <p class="datestamp"><%= post.created_at.to_s(:long_ordinal) %></p>
        <br>
        <p><%= post.content %></p>
        <% unless post.tag_list.empty? %>
          <p class="tags">Tags: <%= post.tag_list %></p>
        <% end %>
        <br>
        <% if post.comments.length > 0 %>
        <h5>Comments:</h5>
          <ul class="comments">
            <% post.comments.each do |c| %>
              <li class="comment">
                <h6><%= link_to "#{c.user.profile.full_name}", user_path(c.user) %></h6>
                <% if current_user == c.user || current_user == post.user %>
                  <a href="#" data-dropdown="drop<%= c.id %>" class="tiny button dropdown"></a><br>
                  <ul id="drop<%= c.id %>" data-dropdown-content class="f-dropdown">
                    <% if current_user == c.user %>
                      <li><%= link_to "Edit Comment", edit_post_comment_path(post_id: c.post_id, id: c.id) %></li>
                    <% end %>
                    <li><%= link_to "Delete Comment", "/posts/#{c.post_id}/comments/#{c.id}", { method: "delete" } %></li>
                  </ul>
                <% end %>
                <p class="datestamp"><%= c.created_at.to_s(:long_ordinal) %></p>
                <p><%= c.content %></p>
              </li>
            <% end %>
          </ul>
        <% end %>
        <%= form_for ([post, post.comments.build]) do |f| %>
          <%= f.text_area :content, rows: 3 %>
          <%= f.submit "Comment", class: "tiny button" %>
        <% end %>
      </section>
    <% end %>
  </div>
</div>