<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Vajra Lodge" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav class="top-bar">
      <% if current_user %>
        <ul class="title-area">
          <li class="name">
            <h1><%= link_to "#{current_user.username} #{current_user.profile.degree}°", user_path(current_user) %></h1>
          </li>
        </ul>
      <% end %>

      <section class="top-bar-section">
        <ul class="right">
        <% if current_user %>
          <% if can? :read, Minute %>
            <li><%= link_to "Minutes", minutes_path %></li>
          <% end %>
          <li><%= link_to "Feed", posts_path %></li>
          <li><%= link_to "Log out", logout_path, {method: "post"} %></li>
        <% else %>
          <li><%= link_to "Create new user", new_user_path %></li>
          <li><%= link_to "Login", login_path %></li>
        <% end %>
        </ul>
      </section>
    </nav>
    <div class="row">
      <div class="columns large-12">
        <%= render 'shared/flash_messages' %>
        <%= yield %>
      </div>
    </div>

    <%= javascript_include_tag "application" %>
  </body>
</html>