<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="fixed">
      <nav class="top-bar sticky" data-topbar data-options="scrolltop: false">
        <ul class="title-area">
          <li class="name"></li>
          <li class="toggle-topbar menu-icon left"><a href="#"><span><%= image_tag("tiny-logo.svg", class: "mini-logo") %></span></a></li>
        </ul>
        <section class="top-bar-section">
          <ul class="left">
            <li class="active"><a href="#home">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#articles">Articles</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </section>
      </nav>
    </div>

    <%= yield %>

    <%= javascript_include_tag "application" %>
  </body>
</html>